.cotton--canvas-wrapper{
  position: fixed;
  top: 10px;
  right: 10px;
  /* z-index: 3; */
  mix-blend-mode: lighten;
  /* outline: 1px solid black; */
}

.cotton--main-canvas{
  display: block;
  /* outline: 1px solid red; */
}

.cotton--canvas-wrapper:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  background: #E2E2E2;
  display: block;
  mix-blend-mode: darken;
}

#capture{
  position: relative;
}

.nav{
  width: 100vw;
  height: 95px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}

.cotton--logo_container{
  position:fixed;
  top:20px;
  right:20px;
  /* z-index: 2; */
  /* outline: 1px solid black; */
}

.cotton--logo{
  position:relative;
  display: block;
}



/* .test {
  width: 80vw;
  height: 200px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */